@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  height:100%;
  display: flex;
}
.app-content {
  padding: 40px;
}

md-toolbar-row {
  justify-content: space-between;
}

p {
  margin: 16px;
}

[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

md-sidenav a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

th {
  font-size: 16px;
  font-weight: 400;
  padding: 13px 32px;
  text-align: left;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
}

td {
  color: rgba(0,0,0,.54);
  border: 1px solid rgba(0,0,0,.03);
  font-weight: 400;
  padding: 8px 30px;
}

.container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.container [class*="col"]{
  padding: 10px;
  flex: 1;
}

md-card-header .mat-card-header-text {
  margin-left: 0;
  border-bottom: 1px solid #ffd740;
}

md-card-title h1 {
  display: inline;
}

.nav-link {
  color: rgba(0, 0, 0, .54);
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 1;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  width: 30%;
}

mat-card {
  margin-bottom: 20px;
}

.mat-sidenav-container {
  background: #f5f5f5;
  flex: 1;
}

.fill-remaining-space {
  flex: 0.1 0.1 auto;
}

.full-width {
  width: 100%;
}

/* everywhere else */
* {
  font-family: 'Ubuntu', sans-serif;
}
